{% extends 'base_front.html.twig' %}

{% block title %}
	Log in!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
	<div id='app'></div>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<form method="post">
		{% if error is defined  %}
			{% if error and error is defined  %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
		{% endif %}
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="text-3xl">Please sign in</h1>
		<label for="inputEmail">Email</label>
		<input type="email" value="" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" name="_remember_me">
				Remember me
			</label>
		</div>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn btn-lg btn-primary" type="submit">
			Sign in
		</button>
	</form>
{% endblock %}
