<ul id='back_navbar'>
  <li><a class="active" href="{{ path('back_default_index') }}">{{ 'navbar.home'|trans }}</a></li>
  <li><a href="{{ path('back_user_index') }}">{{ 'navbar.user'|trans }}</a></li>
  <li><a href="{{ path('app_logout') }}">{{ 'navbar.logout'|trans }}</a></li>
</ul>