{% include "base_front.html.twig" %}

{% block title %}<title>{{'hike.title.show'|trans ~ ' : ' ~ hike.name}}</title>{% endblock %}

{% block body %}
    <h1>{{'hike.title.show'|trans}}</h1>
    {% if hike.evaluations|length > 0 %}
        {% set avgEffort = 0 %}
        {% for evaluation in hike.evaluations %}
            {% set avgEffort = avgEffort + evaluation.effort %}
        {% endfor %}
        {% set avgEffort = avgEffort / hike.evaluations|length %}
        {# Avg beauty #}
        {% set avgBeauty = 0 %}
        {% for evaluation in hike.evaluations %}
            {% set avgBeauty = avgBeauty + evaluation.beauty %}
        {% endfor %}
        {% set avgBeauty = avgBeauty / hike.evaluations|length %}
    {% endif %}
    {# Average duration #}
    {# If avgDuration equal to 0 #}
    {% if averageDuration is same as(0) %}
        {% set averageDuration = 'Pas d\'évaluations' %}
    {% else %}
        {% set averageDuration = averageDuration.format('H:i:s') ~ 'h' %}
    {% endif %}

    {% set assets = hike.pictures %}

    {% if assets|length != 0 %}
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for asset in assets %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{ asset(asset.filename) }}">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            {{ 'hike.label.no_image'|trans }}
        </div>
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'hike.label.name'|trans }}</th>
                <td>{{ hike.name }}</td>
            </tr>
            <tr>
                <th>{{ 'hike.label.description'|trans }}</th>
                <td>{{ hike.description }}</td>
            </tr>
            <tr>
                <th>{{ 'booking.label.locality'|trans }}</th>
                <td>{{ hike.locality.department ~ ' : ' ~ hike.locality.region }}</td>
            </tr>
            <tr>
                <th>{{ 'hike.label.distance'|trans }}</th>
                <td>{{ hike.distance ~ 'Km' }}</td>
            </tr>
            <tr>
                <th>{{ 'hike.label.duration'|trans }}</th>
                <td>{{ hike.duration ? hike.duration|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'hike.label.difficulty'|trans }}</th>
                <td>{{ hike.effort }}</td>
            </tr>
            <tr>
                <th>{{ 'hike.label.max_user'|trans }}</th>
                <td>{{ hike.maxUsers }}</td>
            </tr>
            <tr>
                <th>{{ 'hike.label.average_difficulty'|trans }}</th>
                <td>{{ avgEffort|default('Pas d\'évaluations') }}</td>
            </tr>
            <tr>
                <th>{{ 'hike.label.average_beautiful'|trans }}</th>
                <td>{{ avgBeauty|default('Pas d\'évaluations') }}</td>
            </tr>
            <tr>
                <th>{{ 'hike.label.average_duration'|trans }}</th>
                <td>{{ averageDuration|default('Pas d\'évaluations') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('front_default_index') }}">{{ 'hike.btn.back'|trans }}</a>
    {% if app.user %}
        {% if bookable %}
            <a href="{{ path('front_booking_new', {'slug': hike.slug}) }}" class="btn btn-primary">{{ 'booking.btn.book'|trans }}</a>
        {% else %}
            <a href="{{ path('front_booking_new', {'slug': hike.slug}) }}" class="btn btn-danger disabled">{{ 'booking.btn.no_available_place'|trans }}</a>
        {% endif %}
    {% endif %}

{% endblock %}
