{% extends 'base_back.html.twig' %}

{% block title %}
	Gestion des utilisateurs
{% endblock %}

{% block body %}

	<div class="container-fluid h1-container-mng">
		<div class="row align-items-center">
			<div class="col">
				<h1 class="h1-mng">Liste des utilisateurs</h1>
			</div>
			<div class="col text-end">
				<a class="btn-link link-add" href="{{ path('back_user_new') }}">Créer un utilisateur</a>
			</div>
		</div>
	</div>

	<div class="container-fluid card card-large">
		<table class="table table-striped table-mng" id="table-users">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Username</th>
					<th>Slug</th>
					<th>Roles</th>
					<th>Statut</th>
					<th>Date de création</th>
					<th>Date de modification</th>
					<th class="text-end">Actions</th>
				</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.slug }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.status ? 'Actif' : 'Inactif' }}</td>
					<td>{{ user.createdAt ? user.createdAt|date('d-m-Y H:i:s') : '' }}</td>
					<td>{{ user.updatedAt ? user.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
					<td class="text-end">
						<a class="btn-link link-see" href="{{ path('back_user_show', {'slug': user.slug}) }}"><i class="bi bi-eye-fill"></i></a>
						<a class="btn-link link-edit" href="{{ path('back_user_edit', {'slug': user.slug}) }}"><i class="bi bi-pencil-fill"></i></a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	{% block javascripts %}
		{{ parent() }}
		<script>
			$(document).ready(function() {
				$('#table-users').DataTable();
			} );
		</script>
	{% endblock %}
{% endblock %}
