{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

 <div class="container">
		<div class="row">
			<div class="card card-small mt-5">
                <div class="card-header">
                    <h1>{{ "form.title.register" | trans() }}</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form, {attr:{"id":"form-register", "method":"post" }}) }}
                        {{ form_row(form._token) }}
                        <div class="mb-3 custom-input">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {% if form_errors(form.email) %}
                                <div class="alert alert-danger">
                                    {% for error in form.email.vars.errors %}
                                        {{ error.message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3 custom-input">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username)}}
                        </div>
                        <div class="mb-3 custom-input">
                            {{ form_label(form.password.first) }}
                            {{ form_widget(form.password.first) }}
                        </div>
                        <div class="mb-3 custom-input">
                            {{ form_label(form.password.second) }}
                            {{ form_widget(form.password.second) }}
                        </div>

                        <div class="d-flex justify-content-between custom-input">
                            <div class="mb-3">
                                <a href="#">{{ "form.link.already_account" | trans() }}</a>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-light-green" type="submit">
                                    {{ "form.btn.register" | trans()}}
                                </button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}