<ul id='manager_navbar'>
  <li><a class="active" href="{{ path('manager_default_index') }}">{{ 'navbar.home'|trans }}</a></li>
  <li><a href="{{ path('manager_hike_index') }}">{{ 'navbar.hike'|trans }}</a></li>
  <li><a href="{{ path('app_logout') }}">{{ 'navbar.logout'|trans }}</a></li>
</ul>