<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="build/images/peak-experience-favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('front_default_index') }}">
                <img src="{{ asset('build/images/peak-experience-logo.png') }}" alt="logo" width="150">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if app.user %}
                        {% include 'front/_embed/navbar.html.twig' %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('front_default_index') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                        </li>
                    {% endif %}
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('back_default_index') }}">Panel d'admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


<!--            <nav>
                <ul>
                    <li><a href="{{ path('front_default_index') }}">Accueil</a></li>
                    {% if (is_granted('ROLE_ADMIN')) %} <li><a href="{{ path('back_default_index') }}">Panel d'admin</a></li>{% endif %}
                </ul>
            </nav>-->
        {% block body %}{% endblock %}
    </body>
</html>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}