{% include "base_manager.html.twig" %}

{% block title %}<title>{{'hike.title.list'|trans}}</title>{% endblock %}

{% block body %}
    <div class="container-fluid h1-container-mng">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="h1-mng">{{ 'hike.title.list'|trans }}</h1>
            </div>
            <div class="col text-end">
                <a class="btn-link link-add" href="{{ path('manager_hike_new') }}">{{ 'hike.title.add'|trans }}</a>
            </div>
        </div>
    </div>
    <div class="container-fluid card card-large">
        <table class="table table-striped table-mng">
            <thead>
            <tr>
                <th>{{ 'hike.label.name'|trans }}</th>
                <th>{{ 'hike.label.distance'|trans }}</th>
                <th>{{ 'hike.label.duration'|trans }}</th>
                <th>{{ 'hike.label.difficulty'|trans }}</th>
                <th>{{ 'hike.label.capacity'|trans }}</th>
                <th>{{ 'hike.label.average_difficulty'|trans }}</th>
                <th>{{ 'hike.label.average_beautiful'|trans }}</th>
                <th class="text-end">{{ 'hike.label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for hike in hikes %}
                {% if hike.evaluations|length > 0 %}
                    {% set avgEffort = 0 %}
                    {% for evaluation in hike.evaluations %}
                        {% set avgEffort = avgEffort + evaluation.effort %}
                    {% endfor %}
                    {% set avgEffort = avgEffort / hike.evaluations|length %}
                    {# Avg beauty #}
                    {% set avgBeauty = 0 %}
                    {% for evaluation in hike.evaluations %}
                        {% set avgBeauty = avgBeauty + evaluation.beauty %}
                    {% endfor %}
                    {% set avgBeauty = avgBeauty / hike.evaluations|length %}
                {% endif %}
                <tr>
                    <td>{{ hike.name }}</td>
                    <td>{{ hike.distance ~ 'Km' }}</td>
                    <td>{{ hike.duration ? hike.duration|date('H:i') : '' ~ 'Heures' }}</td>
                    <td>{{ hike.effort ~ '/10' }}</td>
                    <td>{{ hike.maxUsers }}</td>
                    <td>{{ avgEffort|default('Pas d\'évaluations') }}</td>
                    <td>{{ avgBeauty|default('Pas d\'évaluations') }}</td>
                    <td class="text-end" style="width: 20%">
                        <a class="btn-link link-see" href="{{ path('manager_hike_show', {'slug': hike.slug}) }}">{{ 'hike.btn.show'|trans }}</a>
                        <a class="btn-link link-edit" href="{{ path('manager_hike_edit', {'slug': hike.slug}) }}">{{ 'hike.btn.edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">{{ 'hike.label.no_hike'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
