{% include "base_manager.html.twig" %}

{% block title %}<title>{{'hike.title.add'|trans}}</title>{% endblock %}

{% block body %}
    <h1>{{'hike.title.add'|trans}}</h1>

    {{ include('manager/hike/_form.html.twig') }}

    <a href="{{ path('manager_hike_index') }}">{{ 'hike.btn.back'|trans }}</a>
{% endblock %}
